alias cat='fck cat -H'
alias check='fck check'
alias find='fck find -c'
alias grep='fck grep -n -H -r'
alias hash='fck hash'
alias home='fck home'
alias ll='fck list -l -c -i'
alias ls='fck list -c -i'
alias fmd='fck md -l'
alias pack='fck pack'
alias preview='fck preview'
alias size='fck size -u'
alias unpack='fck unpack'