alias cat='fck cat'
alias check='fck check'
alias cp='fck cp'
alias date='fck date'
alias echo='fck echo'
alias find='fck find -c'
alias grep='fck grep -n -H -r'
alias hash='fck hash -p'
alias home='fck home'
alias ll='fck list -l -c -i'
alias ls='fck list -c -i'
alias mkdir='fck mkdir'
alias mv='fck mv'
alias pack='fck pack'
alias preview='fck preview'
alias pwd='fck pwd'
alias rm='fck rm'
alias sed='fck sed'
alias size='fck size'
alias touch='fck touch'
alias truncate='fck truncate'
alias unpack='fck unpack'
alias watch='fck watch'
alias xargs='fck xargs'
